# Local configuration Overrides
# Copy this file to .env.local and modify as needed

# SITE_URL=https://yoursite.com
# SITEMAP_URLS=["https://yoursite.com/sitemap.xml"]
# CRAWL_DELAY=2000
# DEST=./output
